@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Bold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Druk';
  src: url('../assets/fonts/Druk_Wide_Medium_Italic_Cy.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Druk';
  src: url('../assets/fonts/Druk_Wide_Medium_Cy.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Druk';
  src: url('../assets/fonts/Druk-Wide-Bold.woff');
  font-weight: 600;
}